.allTodo{

}

.oneTodo{
  border-radius: 30px;
  background-color: palevioletred;
  display: flex;
  width: 300px;
}

.textTodo{
  text-align: start;
  flex: 1;
  justify-content: center;
  align-content: center;
}